<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>ServersServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.ServersServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServersServlet</servlet-name>
        <url-pattern>/servers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DescServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.EntityDescriptionServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DescServlet</servlet-name>
        <url-pattern>/entity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.EntityDescriptionSearchServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

</web-app>