/*
 * Nimbits API
 * Nimbits Server Provides deep automation via a REST API
 *
 * OpenAPI spec version: 5.0
 * Contact: support@nimbits.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.nimbits;

import com.ApiCallback;
import com.ApiClient;
import com.ApiException;
import com.ApiResponse;
import com.Configuration;
import com.Pair;
import com.ProgressRequestBody;
import com.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.nimbits.io.ChartDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TableApi {
    private ApiClient apiClient;

    public TableApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TableApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getDataTable
     * @param xApiKey x-api-key (required)
     * @param id id (required)
     * @param start start (optional)
     * @param end end (optional)
     * @param count count (optional)
     * @param mask mask (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDataTableCall(String xApiKey, String id, String start, String end, String count, String mask, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v5_0/api/table/topic/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
        if (end != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end", end));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("count", count));
        if (mask != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("mask", mask));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xApiKey != null)
        localVarHeaderParams.put("x-api-key", apiClient.parameterToString(xApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "x-api-key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDataTableValidateBeforeCall(String xApiKey, String id, String start, String end, String count, String mask, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xApiKey' is set
        if (xApiKey == null) {
            throw new ApiException("Missing the required parameter 'xApiKey' when calling getDataTable(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getDataTable(Async)");
        }
        
        
        com.squareup.okhttp.Call call = getDataTableCall(xApiKey, id, start, end, count, mask, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * GetDataTable
     * Get A Data Table For a Topic
     * @param xApiKey x-api-key (required)
     * @param id id (required)
     * @param start start (optional)
     * @param end end (optional)
     * @param count count (optional)
     * @param mask mask (optional)
     * @return ChartDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ChartDTO getDataTable(String xApiKey, String id, String start, String end, String count, String mask) throws ApiException {
        ApiResponse<ChartDTO> resp = getDataTableWithHttpInfo(xApiKey, id, start, end, count, mask);
        return resp.getData();
    }

    /**
     * GetDataTable
     * Get A Data Table For a Topic
     * @param xApiKey x-api-key (required)
     * @param id id (required)
     * @param start start (optional)
     * @param end end (optional)
     * @param count count (optional)
     * @param mask mask (optional)
     * @return ApiResponse&lt;ChartDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ChartDTO> getDataTableWithHttpInfo(String xApiKey, String id, String start, String end, String count, String mask) throws ApiException {
        com.squareup.okhttp.Call call = getDataTableValidateBeforeCall(xApiKey, id, start, end, count, mask, null, null);
        Type localVarReturnType = new TypeToken<ChartDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * GetDataTable (asynchronously)
     * Get A Data Table For a Topic
     * @param xApiKey x-api-key (required)
     * @param id id (required)
     * @param start start (optional)
     * @param end end (optional)
     * @param count count (optional)
     * @param mask mask (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDataTableAsync(String xApiKey, String id, String start, String end, String count, String mask, final ApiCallback<ChartDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDataTableValidateBeforeCall(xApiKey, id, start, end, count, mask, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ChartDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
