<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Benjamin Sautner
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="3.0">


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>



    <listener>
        <listener-class>com.nimbits.server.ApplicationListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>

        <servlet-name>api</servlet-name>
        <url-pattern>/service/v3/rest/*</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>socketFilter</filter-name>
        <filter-class>com.nimbits.server.api.filter.SocketFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>socketFilter</filter-name>
        <url-pattern>/socket/*</url-pattern>

    </filter-mapping>


    <servlet>
        <servlet-name>timeApi</servlet-name>
        <servlet-class>com.nimbits.server.api.TimeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeApi</servlet-name>
        <url-pattern>/service/v2/time</url-pattern>
    </servlet-mapping>




    <!--gwt rpc services -->
    <servlet>
        <servlet-name>com.nimbits EntityService</servlet-name>
        <servlet-class>com.nimbits.server.transaction.entity.service.EntityServiceRpcImpl</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>com.nimbits SettingsService</servlet-name>
        <servlet-class>com.nimbits.server.SettingServiceRpcImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.nimbits ValueService</servlet-name>
        <servlet-class>com.nimbits.server.transaction.value.service.ValueServiceRpcImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.nimbits UserService</servlet-name>
        <servlet-class>com.nimbits.server.transaction.user.service.UserServiceRpcImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits UserService</servlet-name>
        <url-pattern>/nimbits/rpc/userService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.nimbits EntityService</servlet-name>
        <url-pattern>/nimbits/rpc/entityService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.nimbits SettingsService</servlet-name>
        <url-pattern>/nimbits/rpc/settingsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.nimbits ValueService</servlet-name>
        <url-pattern>/nimbits/rpc/valueService</url-pattern>
    </servlet-mapping>



</web-app>
