<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <filter>
        <filter-name>usageFilter</filter-name>
        <filter-class>com.nimbits.server.api.filter.ApiUsageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>usageFilter</filter-name>
        <url-pattern>/service/v2/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>socketFilter</filter-name>
        <filter-class>com.nimbits.server.api.filter.SocketFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>socketFilter</filter-name>
        <url-pattern>/socket/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.nimbits.server.ApplicationListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>WebSocket</servlet-name>
        <servlet-class>com.nimbits.server.socket.SocketEndpoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebSocket</servlet-name>
        <url-pattern>/socket/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>heartbeatApi</servlet-name>
        <servlet-class>com.nimbits.server.api.HeartbeatApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>heartbeatApi</servlet-name>
        <url-pattern>/service/v2/hb</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>timeApi</servlet-name>
        <servlet-class>com.nimbits.server.api.TimeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeApi</servlet-name>
        <url-pattern>/service/v2/time</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>valueApi</servlet-name>
        <servlet-class>com.nimbits.server.api.ValueApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>valueApi</servlet-name>
        <url-pattern>/service/v2/value</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>treeApi</servlet-name>
        <servlet-class>com.nimbits.server.api.TreeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>treeApi</servlet-name>
        <url-pattern>/service/v2/tree</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>entityApi</servlet-name>
        <servlet-class>com.nimbits.server.api.EntityApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entityApi</servlet-name>
        <url-pattern>/service/v2/entity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sessionApi</servlet-name>
        <servlet-class>com.nimbits.server.api.SessionApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionApi</servlet-name>
        <url-pattern>/service/v2/session</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>seriesApi</servlet-name>
        <servlet-class>com.nimbits.server.api.SeriesApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seriesApi</servlet-name>
        <url-pattern>/service/v2/series</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>com.nimbits EntityService</servlet-name>
        <servlet-class>com.nimbits.server.EntityServiceRpcImpl</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>com.nimbits SettingsService</servlet-name>
        <servlet-class>com.nimbits.server.SettingServiceRpcImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.nimbits ValueService</servlet-name>
        <servlet-class>com.nimbits.server.ValueServiceRpcImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.nimbits UserService</servlet-name>
        <servlet-class>com.nimbits.server.UserRpcServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits UserService</servlet-name>
        <url-pattern>/nimbits/userService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.nimbits EntityService</servlet-name>
        <url-pattern>/nimbits/entityService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.nimbits SettingsService</servlet-name>
        <url-pattern>/nimbits/settingsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.nimbits ValueService</servlet-name>
        <url-pattern>/nimbits/valueService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>heartbeatTask</servlet-name>

        <servlet-class>com.nimbits.server.process.task.HeartbeatTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>heartbeatTask</servlet-name>
        <url-pattern>/task/hb</url-pattern>
    </servlet-mapping>


    <!--tasks-->
    <servlet>
        <servlet-name>valueTask</servlet-name>
        <!--<servlet-class>ValueTask</servlet-class>-->
        <servlet-class>com.nimbits.server.process.task.ValueTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>valueTask</servlet-name>
        <url-pattern>/task/valueTask</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>pointTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.PointMaintTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pointTask</servlet-name>
        <url-pattern>/task/pointTask</url-pattern>
    </servlet-mapping>
    <!--end tasks-->


    <!--cron-->
    <servlet>
        <servlet-name>moveCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.MoveCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>moveCron</servlet-name>
        <url-pattern>/cron/moveCron</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pointCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.PointCron</servlet-class>
        <!--<servlet-class>PointCron</servlet-class>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>pointCron</servlet-name>
        <url-pattern>/cron/pointCron</url-pattern>
    </servlet-mapping>
    <!--end cron-->
</web-app>
