<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nimbits.android"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT">

    <permission android:name="com.nimbits.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>


    <uses-permission android:name="com.nimbits.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16"/>

    <application
        android:icon="@drawable/nimbits_transparent_logo"
        android:label="@string/app_name"
        >


        <activity  android:name="com.nimbits.android.startup.StartupActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <activity
            android:launchMode="singleInstance"
            android:name="com.nimbits.android.settings.SettingsActivity"
            android:label="Settings"/>


        <activity
            android:launchMode="singleInstance"
            android:name="com.nimbits.android.main.NewEntityActivity"
            android:label="New Nimbits Entity"/>

        <activity
            android:launchMode="singleInstance"
            android:name="com.nimbits.android.settings.PointSettingsActivity"
            android:label="Point Settings"/>
        <activity
            android:launchMode="singleInstance"
            android:name="com.nimbits.android.alerts.AlertSettingActivity"
            android:label="Alert Settings"/>
        <activity android:name="com.nimbits.android.main.PointActivity" />


        <activity android:name="com.nimbits.android.HomeActivity"
                  android:theme="@android:style/Theme.Holo.Light"
                             />
        <activity android:name=".ui.chart.chartActivity"/>


        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.nimbits.android" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

    </application>


</manifest>

