<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010 Tonic Solutions LLC.
  ~
  ~ http://www.nimbits.com
  ~
  ~
  ~ Licensed under the GNU GENERAL PUBLIC LICENSE, Version 3.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
  ~
  ~ http://www.gnu.org/licenses/gpl.html
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the license is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, eitherexpress or implied. See the License for the specific language governing permissions and limitations under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--<filter>-->
        <!--<filter-name>appstats</filter-name>-->
        <!--<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>logMessage</param-name>-->
            <!--<param-value>Appstats available: /appstats/details?time={ID}</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>appstats</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<servlet>-->
    <!--<servlet-name>appstats</servlet-name>-->
    <!--<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>appstats</servlet-name>-->
    <!--<url-pattern>/appstats/*</url-pattern>-->
    <!--</servlet-mapping>-->



    <servlet-mapping>
        <servlet-name>summaryService</servlet-name>
        <url-pattern>/nimbits/summary</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>summaryService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.summary.SummaryServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pointService</servlet-name>
        <url-pattern>/nimbits/point</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pointService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.point.PointServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>userService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.user.UserServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IMService</servlet-name>
        <servlet-class>com.nimbits.server.communication.xmpp.XmppServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>xmppreceiver</servlet-name>
        <servlet-class>com.nimbits.server.communication.xmpp.XMPPReceiverServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xmppreceiver</servlet-name>
        <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>dataService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.value.ValueServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dataService</servlet-name>
        <url-pattern>/nimbits/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>calcService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.calculation.CalculationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calcService</servlet-name>
        <url-pattern>/nimbits/calculation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>entityService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.entity.EntityServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entityService</servlet-name>
        <url-pattern>/nimbits/entity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>entityAPI</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.EntityServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entityAPI</servlet-name>
        <url-pattern>/service/entity</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>feedService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.feed.FeedImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedService</servlet-name>
        <url-pattern>/nimbits/feed</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>subscribeService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.subscription.SubscriptionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscribeService</servlet-name>
        <url-pattern>/nimbits/subscribe</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>settingsService</servlet-name>
        <servlet-class>com.nimbits.server.settings.SettingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>settingsService</servlet-name>
        <url-pattern>/nimbits/settings</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>blobService</servlet-name>
        <servlet-class>com.nimbits.server.io.blob.BlobServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blobService</servlet-name>
        <url-pattern>/nimbits/blob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>blobServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.BlobServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blobServlet</servlet-name>
        <url-pattern>/service/blob</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>userService</servlet-name>
        <url-pattern>/nimbits/user</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>IMService</servlet-name>
        <url-pattern>/nimbits/xmpp</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>remote_api</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remote_api</servlet-name>
        <url-pattern>/_ah/remote_api</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>mailhandler</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.MailHandlerServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mailhandler</servlet-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PointCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.PointCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointCron</servlet-name>
        <url-pattern>/cron/point</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuotaResetCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.QuotaResetCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuotaResetCron</servlet-name>
        <url-pattern>/cron/quota</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>SessionMaint</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.SessionMaint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionMaint</servlet-name>
        <url-pattern>/cron/SessionMaint</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SystemMaint</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.SystemMaint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemMaint</servlet-name>
        <url-pattern>/cron/SystemMaint</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>com.nimbits.server.cron.IdlePointCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.IdlePointCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits.server.cron.IdlePointCron</servlet-name>
        <url-pattern>/cron/idle</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SystemMaint</servlet-name>
        <url-pattern>/cron/systemmaint</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecordValueTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.RecordValueTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecordValueTask</servlet-name>
        <url-pattern>/task/recordvaluetask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteOrphansTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.DeleteOrphanedBlobTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrphansTask</servlet-name>
        <url-pattern>/task/orphans</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteOrphansCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.DeleteOrphanBlobCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrphansCron</servlet-name>
        <url-pattern>/cron/orphans</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteOrphansService</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.DeleteOrphanBlobCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrphansService</servlet-name>
        <url-pattern>/service/orphans</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpgradeTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.UpgradeTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpgradeTask</servlet-name>
        <url-pattern>/task/upgrade</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MoveCachedValuesToStoreTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.MoveCachedValuesToStoreTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoveCachedValuesToStoreTask</servlet-name>
        <url-pattern>/task/move</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MoveRecordedValuesToStoreCron</servlet-name>
        <servlet-class>com.nimbits.server.process.cron.MoveRecordedValuesToStoreCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoveRecordedValuesToStoreCron</servlet-name>
        <url-pattern>/cron/move</url-pattern>
    </servlet-mapping>






    <servlet>
        <servlet-name>ProcessBatchTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.ProcessBatchTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessBatchTask</servlet-name>
        <url-pattern>/task/processbatchtask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IncomingMailTask</servlet-name>
        <servlet-class>com.nimbits.server.communication.email.IncomingMailTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncomingMailTask</servlet-name>
        <url-pattern>/task/incommingmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PointMaintTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.PointMaintTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointMaintTask</servlet-name>
        <url-pattern>/task/point</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRecordedValuesTask</servlet-name>
        <servlet-class>com.nimbits.server.process.task.DeleteRecordedValuesTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRecordedValuesTask</servlet-name>
        <url-pattern>/task/DeleteRecordedValuesTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>currentValueServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.ValueServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>currentValueServlet</servlet-name>
        <url-pattern>/service/currentvalue</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>feedServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.FeedServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedServlet</servlet-name>
        <url-pattern>/service/feed</url-pattern>
    </servlet-mapping>


    <!--<servlet>-->
        <!--<servlet-name>categoryServlet</servlet-name>-->
        <!--<servlet-class>com.nimbits.server.pointcategory.CategoryWebService</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>categoryServlet</servlet-name>-->
        <!--<url-pattern>/service/catagory</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>categoryServlet</servlet-name>-->
        <!--<url-pattern>/service/category</url-pattern>-->
    <!--</servlet-mapping>-->


    <servlet>
        <servlet-name>pointServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.PointServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pointServlet</servlet-name>
        <url-pattern>/service/point</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>seriesServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.SeriesServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seriesServlet</servlet-name>
        <url-pattern>/service/series</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>storageServlet</servlet-name>
        <servlet-class>com.nimbits.server.io.storage.StorageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storageServlet</servlet-name>
        <url-pattern>/service/storage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>timeServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.TimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeServlet</servlet-name>
        <url-pattern>/service/time</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exportServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.ExportServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exportServlet</servlet-name>
        <url-pattern>/nimbits/export</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>chartApiServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.ChartApiServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chartApiServlet</servlet-name>
        <url-pattern>/service/chartapi</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>authTestServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.AuthTestServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authTestServlet</servlet-name>
        <url-pattern>/service/authtest</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>batchServlet</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.BatchServletImpl</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>com.nimbits.nimbits FacebookService</servlet-name>
        <servlet-class>com.nimbits.server.external.facebook.FacebookImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.nimbits.nimbits TwitterService</servlet-name>
        <servlet-class>com.nimbits.server.external.twitter.TwitterImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>batchServlet</servlet-name>
        <url-pattern>/service/batch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>com.nimbits.nimbits TimespanService</servlet-name>
        <servlet-class>com.nimbits.server.time.TimespanServiceImpl</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits FacebookService</servlet-name>
        <url-pattern>/nimbits/facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits TwitterService</servlet-name>
        <url-pattern>/nimbits/twitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits TimespanService</servlet-name>
        <url-pattern>/nimbits/timespan</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>com.nimbits.nimbits UserWebService</servlet-name>
        <servlet-class>com.nimbits.server.api.impl.UserServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits UserWebService</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>com.nimbits.nimbits UpgradeServlet</servlet-name>
        <servlet-class>com.nimbits.server.admin.UpgradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits UpgradeServlet</servlet-name>
        <url-pattern>/admin/upgrade</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>com.nimbits.nimbits RecoveryServlet</servlet-name>
        <servlet-class>com.nimbits.server.admin.RecoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits RecoveryServlet</servlet-name>
        <url-pattern>/admin/recover</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>com.nimbits.nimbits UserReportService</servlet-name>
        <servlet-class>com.nimbits.server.report.UserReportService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits UserReportService</servlet-name>
        <url-pattern>/admin/user_report</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>com.nimbits.nimbits OAuth2Servlet</servlet-name>
        <servlet-class>com.nimbits.server.external.google.OAuth2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.nimbits.nimbits IntelligenceService</servlet-name>
        <servlet-class>com.nimbits.server.transactions.service.intelligence.IntelligenceServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits OAuth2Servlet</servlet-name>
        <url-pattern>/OAuth2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.nimbits.nimbits IntelligenceService</servlet-name>
        <url-pattern>/nimbits/intel</url-pattern>
    </servlet-mapping>


    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <url-pattern>/task/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
