/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif;
     font-size:12px;
    text-align:justify;
}
