Package: nimbits
Version: 1.03
Section: devel
Priority: optional
Architecture: amd64 i386 armhf
Description: Nimbits Data Acquisition Platform. Visit nimbits.com to learn more.
Maintainer: Benjamin Sautner <bsautner@nimbits.com>
