Package: nimbits
Version: 3.7.7
Section: devel
Priority: optional
Architecture: all
Description: Nimbits Data Acquisition Platform. Visit nimbits.com to learn more.
Maintainer: Benjamin Sautner <bsautner@nimbits.com>
